.bg-top {
  background-color: var(--Dark-Cyan);
}

.bg-top img {
  width: 100%;
}

.main {
  background-color: var(--Background);
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media (min-width: 480px) {
  .container {
    gap: 2rem;
  }
}
